:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;

 font-family: 'Merriweather Sans', sans-serif;}

* {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  background-color: var(--body-bg-color);

  display: grid;
  grid-template-areas: "aside main" "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 50px;
  justify-items: center;

  color: var(--text-color);
}

.avatar {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--text-color);

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card a:last-child {
  margin: 0;
}

a, small {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

.card {
  background-color: var(--bg-cards);
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 20px;

  width: min(100%, 95vw);
}


aside {
  grid-area: aside;
  padding: 40px 40px 30px 30px;
  width: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avatar .avatar {
  border: #00FF00 2px solid;
  margin-bottom: 30px;
}

.tec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title";
  gap: 15px;
}

.tec h2 {
  grid-area: title;
}

.tag {
  background-color: var(--bg-techs);
  border-radius: 25px;
  text-align: center;
  height: 120%;
}

ul {
  margin: 10px 0 0 40px;
}
ul li {
  margin-bottom: 10px;
}
ul li:last-child {
  margin-bottom: 0;
}


main {
  grid-area: main;
  padding: 40px 40px 0 30px;
  width: -webkit-fill-available;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "projects-header projects-header";
  column-gap: 30px;
}
.cards .card:first-child {
  grid-area: projects-header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards #project a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;
}

.project-header {
  grid-area: header;

  display: flex;
  align-items: center;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.projreview {
  grid-area: review;
}

.linguage {
  grid-area: linguage;
}


footer {
  grid-area: footer;
  text-align: center;
}


@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  aside {
    width: 90vw;
    padding: 40px 0 0 0;
  }

  main {
    width: 90vw;
    padding: 40px 0 0 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 75%;
    margin: 25px 0;
  }
}
