:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;

 font-family: 'Merriweather Sans', sans-serif;}

* {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  background-color: var(--body-bg-color);

  display: grid;
  grid-template-areas: "aside main" "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 50px;
  justify-items: center;

  color: var(--text-color);
}

.avatar {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: var(--text-color);

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card a:last-child {
  margin: 0;
}

a, small {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

.card {
  background-color: var(--bg-cards);
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 20px;

  width: min(100%, 80vw);
}


aside {
  grid-area: aside;
  padding: 40px 40px 30px 30px;
  width: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avatar .avatar {
  border: #00FF00 2px solid;
  margin-bottom: 30px;
}


main {
  grid-area: main;
  padding: 40px 40px 0 30px;
  width: -webkit-fill-available;
}


footer {
  grid-area: footer;
  text-align: center;
}
